@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";

:root {
  --font-primary: 'Poppins', sans-serif;
  --white: #FFFFFF;
  --dark-blue: #002B3B;
  --blue: #02B3F7;
  --deep-blue: #00648B;
  --gray: #A6A6A6;
  --blue-transparent: rgba(2, 179, 247, 0.22);
  --gray-dark: #777777;
  --black-blue: #00131A;
  --green: #40C351;
  --gray-light: rgba(143, 142, 142, 0.35);
  --gray-disabled: rgba(217, 217, 217, 0);
  --white-opacity: rgba(255, 255, 255, 0.63);
  --black-opacity: rgba(0, 0, 0, 0.45);
}

*{
  font-family: var(--font-primary);
}

.icon-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.icon-outline {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

